* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sp {
  width: 330px;
  height: 260px;
  border: 2px solid black;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}
.sp img {
  height: 170px;
  object-fit: cover;
  object-position: center;
}
.prdcts {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 95vw;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}
.last {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.pages {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
}
.kk {
  border: 2px solid black;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
